Repository Vladnel671/NewsTracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,less}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Updates
  assets/AllNews-62b062c0.js
  assets/AllNews-b81d23c8.js
  assets/NotFound-1a2caf05.js
  assets/NotFound-90238e23.js
  assets/TopHeadlines-ccc201de.js
  assets/TopHeadlines-efb6a3ff.js
  assets/index-04cc1a8a.js
  assets/index-50e1de45.js
  assets/index-5b680cbc.css
  assets/index-677a5430.js
  assets/index-6e3fd3bf.css
  assets/index-844e7baf.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change to mui skeleton
  package.json
  src/App.tsx
  src/components/MainNews.tsx
  src/components/ui/MainSkeleton.tsx
  src/components/ui/shared/NewsImage.tsx
  src/constants/index.ts
  src/main.tsx
  src/routes/AppRoutes.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: routes
  package.json
  src/main.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

fix: path
  src/components/AllNewsItem.tsx
  src/pages/AllNews.tsx
Due: eslint --fix, prettier --write

chore: remove ghpages
  yarn.lock
Due: none

fix: layout
  src/styles/main.module.scss
  src/styles/pages/_all-news.scss
Due: prettier --write, stylelint --fix

feat: add responsive design
  src/components/InCaseYouMissedIt.tsx
  src/components/ui/Paginator.tsx
  src/styles/components/_in-case-you-missed-it.scss
  src/styles/components/_multi-category-news.scss
  src/styles/components/_spotlight.scss
  src/styles/layout/_footer.scss
  src/styles/main.module.scss
  src/styles/pages/_all-news.scss
  src/styles/pages/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: routes
  src/App.tsx
  src/layout/Layout.tsx
  src/routes/AppRoutes.tsx
  src/routes/LazyComponents.tsx
Due: eslint --fix, prettier --write

feat: add intersection observer for images
  package.json
  src/components/ui/shared/NewsImage.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: layout
  src/layout/Footer.tsx
  src/layout/Header.tsx
  src/styles/abstracts/_variables.scss
  src/styles/main.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: delete href
  src/components/AllNewsItem.tsx
  src/components/InCaseYouMissedIt.tsx
  src/components/MainNews.tsx
  src/components/MultiCategoryNews.tsx
  src/components/ui/shared/NewsImage.tsx
Due: eslint --fix, prettier --write

fix: layout
  package.json
  src/App.tsx
  src/components/AllNewsItem.tsx
  src/pages/TopHeadlines.tsx
  src/routes/LazyComponents.tsx
  src/styles/layout/_header.scss
  src/styles/main.module.scss
  src/styles/pages/_topheadlines.scss
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

feat: add preconnect
  index.html
Due: none

refactor: decompose the main news component
  src/components/InCaseYouMissedIt.tsx
  src/components/MainNews.tsx
  src/components/MainNews/CentralBlock.tsx
  src/components/MainNews/MainNews.tsx
  src/components/MainNews/MainNewsItem.tsx
  src/components/MainNews/NewsItem.tsx
  src/components/MainNews/SideBlock.tsx
  src/components/Spotlight.tsx
  src/components/ui/MainSkeleton.tsx
  src/pages/TopHeadlines.tsx
Due: eslint --fix, prettier --write

refactor: change type name
  src/components/AllNewsItem.tsx
  src/features/news/newsSlice.ts
  src/pages/AllNews.tsx
  src/services/NewsService.ts
  src/types/types.ts
Due: eslint --fix, prettier --write

fix: layout
  src/routes/LazyComponents.tsx
  src/styles/components/_multi-category-news.scss
  src/styles/components/_spotlight.scss
  src/styles/main.module.scss
  src/styles/pages/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: change background color on active
  src/styles/abstracts/_mixins.scss
Due: prettier --write, stylelint --fix
