Repository Vladnel671/NewsTracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,less}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

chore: fixing pre-commit eslint, prettier and stylelint
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  package.json
  stylelintrc.json
  yarn.lock
Due: prettier --write

style: fixed stylelint and changed classnames to kebab-case
  .stylelintrc.json
  .vscode/extensions.json
  src/App.tsx
  src/components/AllNewsItem.tsx
  src/components/BurgerMenu.tsx
  src/components/NewsSearch.tsx
  src/components/TopHeadlinesSkeleton.tsx
  src/components/inCaseYouMissedIt/InCaseYouMissedIt.tsx
  src/components/layouts/Footer.tsx
  src/components/layouts/Header.tsx
  src/components/mainNews/MainNews.tsx
  src/components/multiCategoryNews/MultiCategoryNews.tsx
  src/components/shared/CustomInputField.tsx
  src/components/shared/NewsImage.tsx
  src/components/spotlight/Spotlight.tsx
  src/pages/AllNews.tsx
  src/styles/fonts/_fonts.scss
  src/styles/footer/_footer.scss
  src/styles/header/_header.scss
  src/styles/main.module.scss
  src/styles/news/_allNews.scss
  src/styles/news/_inCaseYouMissedIt.scss
  src/styles/news/_mixins.scss
  src/styles/news/_multiCategoryNews.scss
  src/styles/news/_normalize.scss
  src/styles/news/_spotlight.scss
  src/styles/news/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: delete background picture
  src/styles/main.module.scss
Due: prettier --write, stylelint --fix

fix: fix layout
  src/components/Paginator.tsx
  src/components/layouts/Header.tsx
  src/components/spotlight/Spotlight.tsx
  src/styles/header/_header.scss
  src/styles/main.module.scss
  src/styles/news/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add separate queries for top headlines and all news
  src/components/Paginator.tsx
  src/pages/AllNews.tsx
  src/pages/TopHeadlines.tsx
  src/services/NewsService.ts
  src/styles/news/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change styles folders structure
  src/components/NotFound.tsx
  src/routes/AppRoutes.tsx
  src/styles/abstracts/_fonts.scss
  src/styles/abstracts/_mixins.scss
  src/styles/components/_inCaseYouMissedIt.scss
  src/styles/components/_multiCategoryNews.scss
  src/styles/components/_spotlight.scss
  src/styles/layout/_footer.scss
  src/styles/layout/_header.scss
  src/styles/main.module.scss
  src/styles/pages/_allNews.scss
  src/styles/pages/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: delete first pagination in all news component
  src/pages/AllNews.tsx
  src/styles/pages/_allNews.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: delete skeleton background color
  src/styles/pages/_topheadlines.scss
Due: prettier --write, stylelint --fix

refactor: change to color scale on news hover
  src/styles/abstracts/_mixins.scss
  src/styles/main.module.scss
Due: prettier --write, stylelint --fix

refactor: change to gray filter on image hover
  src/styles/abstracts/_mixins.scss
Due: prettier --write, stylelint --fix

refactor: change img to NewsImage component
  src/components/spotlight/Spotlight.tsx
Due: eslint --fix, prettier --write

refactor: move variables to separate file variables.scss
  src/styles/abstracts/_variables.scss
  src/styles/components/_inCaseYouMissedIt.scss
  src/styles/components/_multiCategoryNews.scss
  src/styles/components/_spotlight.scss
  src/styles/layout/_footer.scss
  src/styles/layout/_header.scss
  src/styles/main.module.scss
  src/styles/pages/_allNews.scss
  src/styles/pages/_topheadlines.scss
Due: prettier --write, stylelint --fix

feat: add reset.scss
  src/styles/base/_reset.scss
  src/styles/main.module.scss
Due: prettier --write, stylelint --fix

fix: fix layout
  src/components/TopHeadlinesSkeleton.tsx
  src/pages/TopHeadlines.tsx
  src/styles/components/_in-case-you-missed-it.scss
  src/styles/components/_main-skeleton.scss
  src/styles/components/_multi-category-news.scss
  src/styles/components/_spotlight.scss
  src/styles/main.module.scss
  src/styles/pages/_all-news.scss
  src/styles/pages/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix main skeleton
  src/components/MainSkeleton.tsx
  src/pages/TopHeadlines.tsx
Due: eslint --fix, prettier --write

chore: add icon components and change folders structure
  404.html
  index.html
  src/assets/icons/facebook.svg
  src/assets/icons/instagram.svg
  src/assets/icons/twitter.svg
  src/assets/icons/youtube.svg
  src/components/AllNewsItem.tsx
  src/components/InCaseYouMissedIt.tsx
  src/components/MainNews.tsx
  src/components/MultiCategoryNews.tsx
  src/components/Spotlight.tsx
  src/components/icons/FacebookIcon.tsx
  src/components/icons/InstagramIcon.tsx
  src/components/icons/TwitterIcon.tsx
  src/components/icons/YoutubeIcon.tsx
  src/components/icons/index.ts
  src/components/layouts/Footer.tsx
  src/components/layouts/Header.tsx
  src/components/ui/BurgerMenu.tsx
  src/components/ui/MainSkeleton.tsx
  src/components/ui/NewsSearch.tsx
  src/components/ui/Paginator.tsx
  src/components/ui/shared/CustomInputField.tsx
  src/components/ui/shared/Loader.tsx
  src/components/ui/shared/NewsImage.tsx
  src/pages/AllNews.tsx
  src/pages/TopHeadlines.tsx
  src/styles/base/_reset.scss
  src/styles/components/_in-case-you-missed-it.scss
  src/styles/components/_main-skeleton.scss
  src/styles/layout/_footer.scss
  src/styles/main.module.scss
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: routing
  vite.config.ts
Due: eslint --fix, prettier --write

fix: footer socials icons
  src/components/icons/FacebookIcon.tsx
  src/components/icons/InstagramIcon.tsx
  src/components/icons/TwitterIcon.tsx
  src/components/icons/YoutubeIcon.tsx
  src/components/layouts/Footer.tsx
  src/styles/layout/_footer.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add hover effect on footer svg icons
  src/components/MainNews.tsx
  src/components/icons/FacebookIcon.tsx
  src/components/icons/InstagramIcon.tsx
  src/components/icons/TwitterIcon.tsx
  src/components/icons/YoutubeIcon.tsx
  src/components/layouts/Footer.tsx
  src/components/ui/Paginator.tsx
  src/styles/layout/_footer.scss
  src/types/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change layout styles
  src/components/ui/Paginator.tsx
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/main.module.scss
  src/styles/pages/_all-news.scss
  src/styles/pages/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move colors into variables
  src/styles/abstracts/_variables.scss
  src/styles/main.module.scss
Due: prettier --write, stylelint --fix

feat: add code splitting
  src/routes/AppRoutes.tsx
Due: eslint --fix, prettier --write

fix: layout
  src/components/icons/FacebookIcon.tsx
  src/components/icons/InstagramIcon.tsx
  src/components/icons/TwitterIcon.tsx
  src/components/icons/YoutubeIcon.tsx
  src/components/ui/shared/NewsImage.tsx
  src/styles/abstracts/_variables.scss
  src/styles/components/_spotlight.scss
  src/styles/layout/_footer.scss
  src/styles/layout/_header.scss
  src/styles/main.module.scss
  src/styles/pages/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: vite config
  vite.config.ts
Due: eslint --fix, prettier --write

feat: enable sending on button press in news search component
  src/components/ui/NewsSearch.tsx
  src/components/ui/shared/CustomInputField.tsx
Due: eslint --fix, prettier --write

Updates
  assets/AllNews-aefbcb0b.js
  assets/NotFound-8bdfe8b4.js
  assets/TopHeadlines-24938c15.css
  assets/TopHeadlines-2ca5a7df.js
  assets/facebook-bc05c069.svg
  assets/index-44663066.js
  assets/index-70d98fcf.css
  assets/index-8a7f6eda.js
  assets/index-c2764f07.js
  assets/index-da949387.css
  assets/instagram-44cc6cfc.svg
  assets/twitter-b5381207.svg
  assets/youtube-afd6794c.svg
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

feat: add transition on news hover
  src/components/InCaseYouMissedIt.tsx
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/components/_in-case-you-missed-it.scss
  src/styles/components/_multi-category-news.scss
  src/styles/components/_spotlight.scss
  src/styles/main.module.scss
  src/styles/pages/_all-news.scss
  src/styles/pages/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: swiper
  src/styles/components/_in-case-you-missed-it.scss
Due: prettier --write, stylelint --fix

feat: add github icon in footer
  src/components/icons/GithubIcon.tsx
  src/components/icons/index.ts
  src/components/layouts/Footer.tsx
Due: eslint --fix, prettier --write

fix: main layout styles
  src/styles/components/_in-case-you-missed-it.scss
  src/styles/layout/_footer.scss
  src/styles/main.module.scss
  src/styles/pages/_topheadlines.scss
Due: prettier --write, stylelint --fix

fix: github icon
  src/components/icons/GithubIcon.tsx
Due: eslint --fix, prettier --write

refactor: change layout styles
  src/App.tsx
  src/components/icons/TwitterIcon.tsx
  src/components/icons/YoutubeIcon.tsx
  src/pages/NotFound.tsx
  src/routes/AppRoutes.tsx
  src/styles/abstracts/_variables.scss
  src/styles/components/_in-case-you-missed-it.scss
  src/styles/components/_multi-category-news.scss
  src/styles/components/_spotlight.scss
  src/styles/main.module.scss
  src/styles/pages/_all-news.scss
  src/styles/pages/_topheadlines.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add translate attributes to headings tags
  src/components/layouts/Footer.tsx
  src/components/layouts/Header.tsx
Due: eslint --fix, prettier --write

Updates
  assets/AllNews-62ff9505.js
  assets/AllNews-aefbcb0b.js
  assets/NotFound-8bdfe8b4.js
  assets/NotFound-980b5672.js
  assets/TopHeadlines-2ca5a7df.js
  assets/TopHeadlines-91f23eee.js
  assets/index-41b41751.css
  assets/index-838d2be8.js
  assets/index-8a7f6eda.js
  assets/index-c2764f07.js
  assets/index-da949387.css
  assets/index-e7a8b268.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: layout
  src/components/layouts/Header.tsx
  src/components/ui/shared/NewsImage.tsx
  src/styles/abstracts/_fonts.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/components/_multi-category-news.scss
  src/styles/layout/_footer.scss
  src/styles/layout/_header.scss
  src/styles/main.module.scss
  src/styles/pages/_all-news.scss
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  assets/AllNews-62ff9505.js
  assets/AllNews-d3e895c7.js
  assets/NotFound-980b5672.js
  assets/NotFound-e9da4b76.js
  assets/TopHeadlines-59bcac99.js
  assets/TopHeadlines-91f23eee.js
  assets/index-0ff9d2c8.js
  assets/index-41b41751.css
  assets/index-58944232.css
  assets/index-838d2be8.js
  assets/index-e7a8b268.js
  assets/index-feb2be67.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: layout
  index.html
  src/components/InCaseYouMissedIt.tsx
  src/components/Spotlight.tsx
  src/pages/TopHeadlines.tsx
  src/styles/components/_in-case-you-missed-it.scss
  src/styles/components/_multi-category-news.scss
  src/styles/components/_spotlight.scss
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  assets/AllNews-b81d23c8.js
  assets/AllNews-d3e895c7.js
  assets/NotFound-90238e23.js
  assets/NotFound-e9da4b76.js
  assets/TopHeadlines-59bcac99.js
  assets/TopHeadlines-efb6a3ff.js
  assets/index-04cc1a8a.js
  assets/index-0ff9d2c8.js
  assets/index-50e1de45.js
  assets/index-58944232.css
  assets/index-5b680cbc.css
  assets/index-feb2be67.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove link press highlighting
  src/styles/main.module.scss
Due: prettier --write, stylelint --fix

chore: move layout folder
  src/App.tsx
  src/layout/Footer.tsx
  src/layout/Header.tsx
Due: eslint --fix, prettier --write
